body {
	padding-top: 20px;
	background-image: url(./Tic_Tac_Toe_Images/SC2_background.jpg);
	background-repeat: no-repeat;
	background-size: contain;
	background-color: #000000;	

}

.main-container {
	height: 800px;
}

@font-face {
    font-family: starcraft;
    src: url(Starcraft_Normal.ttf);
}

p {
	color: rgb(244, 212, 113);
	text-align: center;
	font-size: 25px;
	font-family: starcraft;
}

h1{
	text-align: center;
	color: rgb(244, 212, 113);
	font-family: starcraft;
}

img {
	width: 150px;
	height: 150px;
}

span{
	font-family: starcraft;
	color: rgb(244, 212, 113);
}

#gametitle{
	font-size: 3.0em;
  padding-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
	font-family: starcraft;
}

#board {
	width: 480px;
	height: auto;
	margin: 0 auto;
	cursor: pointer;
  padding-right: 29px;
  position: relative;
}

.square {
	width: 150px;
	height: 150px;
	background-color: rgba(0, 0, 0, 0.25);
	border: 0px solid black;
	display: inline-block;
	margin: 5px;
}

.winnerId{
  text-align: center;
  font-size: 100px;
  color: white;
  z-index: 10;
  position: relative;
  top: 170px;
  background-color: black;
  padding: 50px;
  display: block;
  font-family: starcraft;
  color: rgb(244, 212, 113);
}

#winnerCount{
	text-align: center;
	font-size: 30px;
	color: white;
	position: absolute;
  	left: 1455px;
 	top: 70px;
 	background-color: rgba(0, 0, 0, 0.5);
 	padding: 20px;
}

#scoreButton {
	cursor: pointer;
	color: rgb(244, 212, 113);
  	padding: 15px;
 	margin-top: 15px;
 	padding-top: 20px;
 	font-family: starcraft;
}

#playButton {
	font-family: starcraft;
	padding: 10px 30px;
}

button:hover{
	background-color:rgb(42, 120, 193);
}

#playerOne{
	height: 200px;
	width: 200px;
	margin-top: 60px;
	margin-left: 225px
}

#playerTwo{
	height: 200px;
	width: 200px;
	margin-top: 50px;
	margin-left: 225px
}



